/about.html
/chatgpt
/contact.html
/images
/index.html
/index.js
/node_modules
/package-lock.json
/package.json
/Pages
/PurchasePages
/sample.js
/script.js
/services.html
/style.css
/tempCodeRunnerFile.js